joblib==1.2.0
    # via scikit-learn
numpy==1.23.4
    # via
    #   -r /tmp/tmp1dnymmqpbentoml_bento_heart_failure_classifier/env/python/requirements.txt
    #   pandas
    #   scikit-learn
    #   scipy
pandas==1.5.1
    # via -r /tmp/tmp1dnymmqpbentoml_bento_heart_failure_classifier/env/python/requirements.txt
pydantic==1.10.2
    # via -r /tmp/tmp1dnymmqpbentoml_bento_heart_failure_classifier/env/python/requirements.txt
python-dateutil==2.8.2
    # via pandas
pytz==2022.6
    # via pandas
scikit-learn==1.1.1
    # via -r /tmp/tmp1dnymmqpbentoml_bento_heart_failure_classifier/env/python/requirements.txt
scipy==1.9.3
    # via scikit-learn
six==1.16.0
    # via python-dateutil
threadpoolctl==3.1.0
    # via scikit-learn
typing-extensions==4.4.0
    # via pydantic
